@model Countwiki.Models.WikiCountViewModel

@{
    ViewData["Title"] = "Wiki Page Word Counter";
}

<div class="text-center">
    <h1 class="display-4">Peters wiki page word counter for QUAL ID</h1>
    <p>
        Enter the URL of the wiki page.
    </p>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Count">
            @Html.LabelFor(m => m.WikiPageURL)
            @Html.TextBoxFor(m => m.WikiPageURL)
            <div class="form-group">
                <input type="submit" value="Count The Words" class="btn btn-primary" />
            </div>
            @Html.LabelFor(m => m.WordCount)
            @Html.DisplayFor(m => m.WordCount)
        </form>

        @if (TempData.ContainsKey("ErrorMessage"))
        {
            var errorMessage = TempData["ErrorMessage"] as string;
            <h1>@errorMessage</h1>
        }
    </div>
</div>